    <!--basic scripts-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="/vendor/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery-dropdown-master/jquery.dropdown.js"></script>
    <script src="/vendor/m-custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/vendor/icheck/skins/icheck.min.js"></script>

    <!--amcharts-->
    <script src="/vendor/amcharts/amcharts.js"></script>
    <script src="/vendor/amcharts/serial.js"></script>
    <script src="/vendor/amcharts/plugins/export/export.min.js"></script>
    <script src="/vendor/amcharts/themes/light.js"></script>

    <!--init candle stick chart-->
    <script src="/vendor/js-init/amcharts/init-candle-stick.js"></script>

    <!--chartjs-->
    <script src="/vendor/chartjs/Chart.bundle.min.js"></script>
    <!--chartjs initialization-->
    <script src="/vendor/js-init/chartjs/init-crypto-charts.js"></script>

    <!--[if lt IE 9]>
    <script src="/vendor/modernizr.js"></script>
    <![endif]-->

    <!--basic scripts initialization-->
    <script src="/js/scripts.js"></script>



</body>
</html>