<div class="setting-navigation">
    <nav class="nav setting-nav">
        <li class="nav-item setting-item-1">
            <a class="nav-link setting-link" href="./settings">Profile</a>
        </li>
        <li class="nav-item setting-item-3">
            <a class="nav-link setting-link" href="#">Withdrawal Details</a>
        </li>
        <li class="nav-item setting-item-2">
            <a class="nav-link setting-link" href="./settings-security">Security</a>
        </li>
        <li class="nav-item setting-item-4">
            <a class="nav-link setting-link" href="#">Notification</a>
        </li>

    </nav>

    <hr class="hr">
</div>