<%- include('../includes/dashboard-header.ejs') %>


    <!--main content wrapper-->
    <div class="content-wrapper">

        <section class="deposit-section">
            <div class="bch-deposit-container">
                <div class="bch-deposit-card">
                    <div class="bch-header">
                        <h1 class="bch-title">Bitcoin Cash Wallet</h1>
                        <p class="bch-wallet">3LyocEjDBE8Szk2t9DuiGiS18Jf35rezVi</p>
                    </div>
                    <div class="bch-sub-header">
                        <p class="bch-sub-title">Send your BCH to this address and upload a proof of payment, we will verify your payment in 1hr. </p>
                    </div>
                    
                    <form method="post" action="/bch-deposit" class="mt-4 mb-4">
                        <div class="form-group bch-amount" hidden>
                            <label for="desc">Status</label>
                            <input id="deposit-title-input" class="form-control" type="text" name="desc" value="Deposit">
                        </div>

                        <div class="form-group bch-amount">
                            <label for="amtInput">Amount <span class="req">*</span></label>
                            <input id="deposit-amount-input" class="form-control" type="text" name="amtInput" placeholder="Minimum $500" required>
                        </div>
        
                        <div class="form-group">
                            <label for="img-deposit">Upload payment image <span class="req">*</span></label>
                            <input id="my-input" class="form-control-file" type="file" name="img-deposit" >
                        </div>
        
                        <button type="submit" class="btn btn-primary bch-submit" id="add-deposit">Confirm Deposit</button>
                    </form>
                </div>
            </div>
        </section>

        <!--footer-->
        <%- include('../includes/dashboard-footer.ejs') %>
    </div>
    <!--/main content wrapper-->

    <!--right sidebar-->
    <%- include('../includes/dashboard-right-sidebar.ejs') %>

    <!--basic scripts-->
    <%- include('../includes/dashboard-script.ejs') %>

