<%- include('../includes/dashboard-header.ejs') %>


    <!--main content wrapper-->
    <div class="content-wrapper">

        <section class="deposit-section">
            <div class="deposit-container">
                <div class="deposit-card">
                    <div>
                        <h1 class="deposit-title">How would you like to add money to your trading wallet?</h1>
                    </div>
                    
                    <div class="deposit-option">
                        <div class="deposit-btc">
                            <a href="/btc-deposit" class="deposit-link">
                                <span class="deposit-image">
                                    <img src="/public/images/btc-img.png" class="deposit-img" alt="">
                                </span>
                                deposit with bitcoin
                            </a>
                        </div>
                        <div class="deposit-bch">
                            <a href="./bch-deposit" class="deposit-link">
                                <span class="deposit-image">
                                    <img src="/public/images/BCH-img.png" class="deposit-img" alt="">
                                </span>
                                deposit with bitcoin cash
                            </a>
                        </div>
                        <div class="deposit-eth">
                            <a href="./eth-deposit" class="deposit-link">
                                <span class="deposit-image">
                                    <img src="/public/images/ETH-img.png" class="deposit-img" alt="">
                                </span>
                                deposit with etherum
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--footer-->
        <%- include('../includes/dashboard-footer.ejs') %>
    </div>
    <!--/main content wrapper-->

    <!--right sidebar-->
    <%- include('../includes/dashboard-right-sidebar.ejs') %>

    <!--basic scripts-->
    <%- include('../includes/dashboard-script.ejs') %>

