<%- include('../includes/dashboard-header.ejs') %>


    <!--main content wrapper-->
    <div class="content-wrapper">

        <section class="deposit-section">
            <div class="eth-deposit-container">
                <div class="eth-deposit-card">
                    <div class="eth-header">
                        <h1 class="eth-title">Etherum Wallet</h1>
                        <p class="eth-wallet">3LyocEjDBE8Szk2t9DuiGiS18Jf35rezVi</p>
                    </div>
                    <div class="eth-sub-header">
                        <p class="eth-sub-title">Send your ETH to this address and upload a proof of payment, we will verify your payment in 1hr. </p>
                    </div>
                    
                    <form method="post" action="/eth-deposit" class="mt-4 mb-4">
                        <div class="form-group eth-amount" hidden>
                            <label for="desc">Status</label>
                            <input id="deposit-title-input" class="form-control" type="text" name="desc" value="Deposit">
                        </div>

                        <div class="form-group eth-amount">
                            <label for="amtInput">Amount <span class="req">*</span></label>
                            <input id="deposit-amount-input" class="form-control" type="text" name="amtInput" placeholder="Minimum $500" required>
                        </div>
        
                        <div class="form-group">
                            <label for="img-deposit">Upload payment image <span class="req">*</span></label>
                            <input id="my-input" class="form-control-file" type="file" name="img-deposit" >
                        </div>
        
                        <button type="submit" class="btn btn-primary eth-submit" id="add-deposit">Confirm Deposit</button>
                    </form>
                </div>
            </div>
        </section>

        <!--footer-->
        <%- include('../includes/dashboard-footer.ejs') %>
    </div>
    <!--/main content wrapper-->

    <!--right sidebar-->
    <%- include('../includes/dashboard-right-sidebar.ejs') %>

    <!--basic scripts-->
    <%- include('../includes/dashboard-script.ejs') %>

