<%- include('../includes/header.ejs') %>

<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area">
    <div class="container">
       
    </div><!-- end container -->
</section><!-- end hero-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
       START ABOUT AREA
================================= -->
<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-item">
                    <div class="sec-heading">
                        <div class="heading-circle"></div>
                        <p class="sec__meta">learn about us</p>
                        <h2 class="sec__title">Digital Cryptocurrency Trading Investment Platform.</h2>
                        <!-- <p class="sec__desc sec__desc2">
                            <span class="sec-year-time">30</span> Years of experience in digital cryptocurrency
                                                                  business Lorem ipsum dolor sit amet
                        </p> -->
                        <p class="sec__desc">
                            Cryptoptions Invest is a global, most trusted and secured Cryptocurrency Trading investment portfolio management system that guarantees you accurate and standard trading experience. We are currently leading the crypto trading world with our positive and unmatched results. 
                        </p>
                        <p class="sec__desc">
                            Our company has successfully earned huge number of positive reviews and feedback from clients across the world, and our popularity is increasing with every passing day. With Cryptoptions Invest your success is guarantee! 
                        </p>
                    </div><!-- end sec-heading -->
                    <!-- <a href="./about" class="theme-btn readmore__btn">read more</a> -->
                </div><!-- end about-item -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-5 ml-auto">
                <div class="about-img-box">
                    <img src="/public/images/traders.png" alt="about-us" class="about-img">
                    <img src="/public/images/crypto-img.png" alt="about-us" class="about-img">
                    <a class="mfp-iframe video-play-btn" href="https://www.youtube.com/watch?v=ymmopjFucZM" title="Play Video">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <!-- <span class="heboo-text">BITCON</span> -->
                </div><!-- end about-img-box -->
            </div><!-- end col-lg-5 -->
        </div><!-- end row -->
        <div class="row funfact-wrapper">
            <div class="col-lg-3">
                <div class="funfact-item">
                    <div class="funfact-icon">
                        <i class="flaticon-032-bitcoin-3 funfact__icon"></i>
                    </div>
                    <span class="funfact__number">$</span><span class="funfact__number counter">285,389</span>
                    <p class="funfact__meta">Total Transactions</p>
                </div><!-- end funfact-item-->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3">
                <div class="funfact-item">
                    <div class="funfact-icon">
                        <i class="flaticon-001-bitcoin-20 funfact__icon"></i>
                    </div>
                    <span class="funfact__number">$</span><span class="funfact__number counter">16,540</span>
                    <p class="funfact__meta">Investment</p>
                </div><!-- end funfact-item-->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3">
                <div class="funfact-item">
                    <div class="funfact-icon">
                        <i class="flaticon-034-consulting funfact__icon"></i>
                    </div>
                    <span class="funfact__number counter">7,540</span>
                    <p class="funfact__meta">Happy Users</p>
                </div><!-- end funfact-item-->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3">
                <div class="funfact-item">
                    <div class="funfact-icon">
                        <i class="flaticon-006-bitcoin-18 funfact__icon"></i>
                    </div>
                    <span class="funfact__number counter">5,721</span>
                    <p class="funfact__meta">Bitcoin Investors</p>
                </div><!-- end funfact-item-->
            </div><!-- end col-lg-3 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="divider">
                    <span class="divider__circle"></span>
                </div><!-- end divider -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="about-sub-box">
                    <p>
                        Do not hesitate to start with us for better help and services.
                        <a href="./sign-up" class="theme-btn">get started</a>
                    </p>
                </div><!-- end about-sub-box -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end about-area -->
<!-- ================================
       START ABOUT AREA
================================= -->



<!-- ================================
       START HOWITWORKS AREA
================================= -->
<section class="howitworks-area howitworks-area2 howitworks-area3 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="sec-heading">
                    <div class="heading-circle m-x-auto"></div>
                    <p class="sec__meta">get in touch</p>
                    <h2 class="sec__title">We've Well Experience in Bitcoin Trading.</h2>
                </div><!-- end sec-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row hiw-content">
            <div class="col-md-10 mx-auto">
                <div class="mining-content-wrap">
                    <div class="mining-img">
                        <img src="/public/images/Stock_trading-1.jpg" alt="mining image" class="mining__img">
                        <a class="mfp-iframe video-play-btn" href="https://www.youtube.com/watch?v=ymmopjFucZM" title="Play Video">
                            <span>watch video</span> <i class="fa fa-play"></i>
                        </a>
                    </div><!-- end mining-img -->
                    <div class="mining-content">
                        <p class="mining__desc">
                            The company was established in 2012 by a team of market professionals with background in some of the leading Forex and Binary Options brokers in the world.
                        </p>
                        <a href="./contact" class="theme-btn contact-btn">contact us</a>
                        <a href="./sign-up" class="theme-btn join-btn">join now</a>
                    </div><!-- end mining-item -->
                </div><!-- end mining-content -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="divider">
                    <span class="divider__circle"></span>
                </div><!-- end divider -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end howitworks-area -->
<!-- ================================
       START HOWITWORKS AREA
================================= -->

<!-- ================================
       START CLIENTLOGO AREA
================================= -->
<section class="clientlogo-area clientlogo-area2">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="sec-heading">
                    <div class="heading-circle"></div>
                    <p class="sec__meta">they trust us</p>
                    <h2 class="sec__title">Trusted by Bitcoin Business.</h2>
                </div><!-- end sec-heading -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-7">
                <div class="client-logo2">
                    <div class="client-logo-item">
                        <img src="/public/images/client1.png" alt="brand image">
                    </div><!-- end client-logo-item -->
                    <div class="client-logo-item">
                        <img src="/public/images/client2.png" alt="brand image">
                    </div><!-- end client-logo-item -->
                    <div class="client-logo-item">
                        <img src="/public/images/client3.png" alt="brand image">
                    </div><!-- end client-logo-item -->
                    <div class="client-logo-item">
                        <img src="/public/images/client4.png" alt="brand image">
                    </div><!-- end client-logo-item -->
                    <div class="client-logo-item">
                        <img src="/public/images/client5.png" alt="brand image">
                    </div><!-- end client-logo-item -->
                </div><!-- end client-logo -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end clientlogo-area -->
<!-- ================================
       START CLIENTLOGO AREA
================================= -->

<!-- ================================
       START TESTIMONIAL AREA
================================= -->
<section class="testimonial-area text-center">
    <img src="/public/images/testimonial-1.jpeg" alt="testtmonial-image" class="random-img">
    <img src="/public/images/testimonial-2.jpeg" alt="testtmonial-image" class="random-img">
    <img src="/public/images/testimonial-3.jpeg" alt="testtmonial-image" class="random-img">
    <img src="/public/images/testimonial-4.jpeg" alt="testtmonial-image" class="random-img">
    <img src="/public/images/testimonial-5.jpeg" alt="testtmonial-image" class="random-img">
    <img src="/public/images/testimonial-6.jpeg" alt="testtmonial-image" class="random-img">
    <img src="/public/images/small-team7.jpg" alt="testtmonial-image" class="random-img">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="sec-heading">
                    <div class="heading-circle m-x-auto"></div>
                    <p class="sec__meta">feedback our investors</p>
                    <h2 class="sec__title">What They Said.</h2>
                </div><!-- end sec-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="client-testimonial">
                    <div class="testimonial-item">
                        <div class="testi__img">
                            <span class="testi__img-cercle"></span>
                            <img src="/public/images/testimonial-1.jpeg" alt="testimonial image">
                        </div>
                        <p class="testi__desc">
                            Amazing platform, great support system. One of the most easiest way to earn online. Right from start to finish, I have no doubt about this platform, they are the best in what they do.                        </p>
                        <h4 class="tesi__title">Sandra Godfrey</h4>
                        <span class="testi__meta">United States</span>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi__img">
                            <span class="testi__img-cercle"></span>
                            <img src="/public/images/testimonial-2.jpeg" alt="testimonial image">
                        </div>
                        <p class="testi__desc">
                            Whata great team of traders they have. Trust me on this, Bitcons has no match in the crypto trading world. They are simply the best. I look forward to a more successful trading in the future and a partnership.
                        </p>
                        <h4 class="tesi__title">Adams Harrison</h4>
                        <span class="testi__meta">Australia</span>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi__img">
                            <span class="testi__img-cercle"></span>
                            <img src="/public/images/testimonial-3.jpeg" alt="testimonial image">
                        </div>
                        <p class="testi__desc">
                            I'm so happy to have partner with this wonderful platform right from the beginning. They are highly recommended
                        </p>
                        <h4 class="tesi__title">Luna Saltzman</h4>
                        <span class="testi__meta">United States</span>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi__img">
                            <span class="testi__img-cercle"></span>
                            <img src="/public/images/testimonial-4.jpeg" alt="testimonial image">
                        </div>
                        <p class="testi__desc">
                            I literally make money while sleeping using this great and reliable platform, Please share the good news, there's no doubt about them. Bitcons leads and others just do the follow.
                        </p>
                        <h4 class="tesi__title">Noah Meyer</h4>
                        <span class="testi__meta">Netherland</span>
                    </div><!-- end testimonial-item -->
                </div><!-- end client-testimonial -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end testimonial-area -->
<!-- ================================
       START TESTIMONIAL AREA
================================= -->


<!-- ================================
       START NEWSLETTER AREA
================================= -->
<section class="newsleller-area newsleller-area2">
    <div class="container">
        <div class="subscriber-box">
            <div class="row">
                <div class="col-lg-7">
                    <div class="sec-heading">
                        <div class="heading-circle"></div>
                        <p class="sec__meta">Get in touch</p>
                        <h2 class="sec__title">Subscribe to Our Newsletter</h2>
                    </div><!-- end sec-heading -->
                </div><!-- end col-lg-7 -->
                <div class="col-lg-5">
                    <div class="subscriber-wrap">
                        <form action="#">
                            <div class="subscriber-form">
                                <input type="text" class="form-control" placeholder="Enter your email">
                                <i class="fa fa-envelope"></i>
                                <button class="theme-btn">subscribe</button>
                            </div>
                        </form>
                    </div><!-- end subscriber-wrap -->
                </div><!-- end col-lg-5 -->
            </div><!-- end row -->
        </div><!-- end subscriber-box -->
    </div><!-- end container -->
</section><!-- end app-area -->
<!-- ================================
       START NEWSLETTER AREA
================================= -->

<%- include('../includes/footer.ejs') %>


<!-- Template JS Files -->
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/owl.carousel.min.js"></script>
<script src="/public/js/waypoint.min.js"></script>
<script src="/public/js/jquery.counterup.min.js"></script>
<script src="/public/js/jquery.magnific-popup.min.js"></script>
<script src="/public/js/smooth-scrolling.js"></script>
<script src="/public/js/jquery-nice-select.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>
