<%- include('../includes/header.ejs') %>

<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area">
    <div class="container">
    </div><!-- end container -->
</section><!-- end hero-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
       START CHART AREA
================================= -->
<section class="chart-area">
    <div class="container">
        <div class="row chart-wrapper">
            <div class="col-lg-6">
                <div class="chart-item">
                    <div class="sec-heading">
                        <div class="heading-circle"></div>
                        <p class="sec__meta">discover bitcon</p>
                        <h2 class="sec__title">Bitcoin Distribution.</h2>
                        <p class="sec__desc">
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration in some form, by injected humour,
                            or randomised words which don't look even slightly believable.
                            If you are going to use a passage of Lorem Ipsum,
                            you need to be sure there isn't anything embarrassing
                        </p>
                        <a href="#" class="theme-btn">Become a Member</a>
                    </div><!-- end sec-heading -->
                </div><!-- end chart-item -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6">
                <canvas id="result-chart" height="180"></canvas>
                <div class="line-legend">
                    <ul class="chart-legend">
                        <li><span class="legend__one"></span>business</li>
                        <li><span class="legend__two"></span>others</li>
                    </ul>
                </div><!-- end line-legend -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
        <div class="row chart-wrapper chart-wrapper2">
            <div class="col-lg-5">
                <canvas id="doughutChart"></canvas>
                <div class="line-legend">
                    <ul class="chart-legend">
                        <li><span class="legend__one"></span>bitcoin</li>
                        <li><span class="legend__two"></span>litecoin</li>
                        <li><span class="legend__three"></span>ripple</li>
                    </ul>
                </div><!-- end line-legend -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6 ml-auto">
                <div class="chart-item">
                    <div class="sec-heading">
                        <div class="heading-circle"></div>
                        <p class="sec__meta">our growth</p>
                        <h2 class="sec__title">Building an Ecosystem for Blockchain.</h2>
                        <ul class="sec__list">
                            <li><i class="fa fa-check check-one"></i>
                                Sign through an iterative mind mapping ideas
                            </li>
                            <li><i class="fa fa-check check-two"></i>
                                Instant and secure transactions
                            </li>
                            <li><i class="fa fa-check check-three"></i>
                                Decentralized, instant and secure payments
                            </li>
                        </ul>
                        <a href="#" class="theme-btn">read more </a>
                    </div><!-- end sec-heading -->
                </div><!-- end chart-item -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end chart-area -->
<!-- ================================
       START CHART AREA
================================= -->

<!-- ================================
       START NEWSLETTER AREA
================================= -->
<section class="newsleller-area">
    <div class="container">
        <div class="subscriber-box">
            <div class="row">
                <div class="col-lg-7">
                    <div class="sec-heading">
                        <div class="heading-circle"></div>
                        <p class="sec__meta">Get in touch</p>
                        <h2 class="sec__title">Subscribe to Our Newsletter</h2>
                    </div><!-- end sec-heading -->
                </div><!-- end col-lg-7 -->
                <div class="col-lg-5">
                    <div class="subscriber-wrap">
                        <form action="#">
                            <div class="subscriber-form">
                                <input type="text" class="form-control" placeholder="Enter your email">
                                <i class="fa fa-envelope"></i>
                                <button class="theme-btn">subscribe</button>
                            </div>
                        </form>
                    </div><!-- end subscriber-wrap -->
                </div><!-- end col-lg-5 -->
            </div><!-- end row -->
        </div><!-- end subscriber-box -->
    </div><!-- end container -->
</section><!-- end app-area -->
<!-- ================================
       START NEWSLETTER AREA
================================= -->

<%- include('../includes/footer.ejs') %>

<!-- Template JS Files -->
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/owl.carousel.min.js"></script>
<script src="/public/js/chart.js"></script>
<script src="/public/js/result-chart.js"></script>
<script src="/public/js/doughutchart.js"></script>
<script src="/public/js/waypoint.min.js"></script>
<script src="/public/js/jquery.counterup.min.js"></script>
<script src="/public/js/jquery.magnific-popup.min.js"></script>
<script src="/public/js/smooth-scrolling.js"></script>
<script src="/public/js/jquery-nice-select.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>