<%- include('../includes/header.ejs') %>

<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area">
    <div class="container">
    </div><!-- end container -->
</section><!-- end hero-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
       START GOOGLE MAP
================================= -->
<div class="gmaps">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="map"></div><!-- end map -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="map-address-box">
                    <ul class="map-address">
                        <li>
                            <i class="fa fa-map-marker-alt"></i>
                            <h5 class="map__title">our address.</h5>
                            <p class="map__desc">
                                Melbourne, Australia, 105 <br> South Park Avenue
                            </p>
                        </li>
                    </ul>
                </div><!-- end map-address-box -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4 col-sm-6">
                <div class="map-address-box">
                    <ul class="map-address">
                        <li>
                            <i class="fa fa-phone"></i>
                            <h5 class="map__title">call us.</h5>
                            <p class="map__desc">Local: 2800 256 508</p>
                            <p class="map__desc">Local: 666 777 888</p>
                        </li>
                    </ul>
                </div><!-- end map-address-box -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4 col-sm-6">
                <div class="map-address-box">
                    <ul class="map-address">
                        <li>
                            <i class="fa fa-envelope"></i>
                            <h5 class="map__title">email address.</h5>
                            <p class="map__desc"><a href="mailto:info@bitcon.com">info@bitcon.com</a></p>
                            <p class="map__desc"><a href="mailto:support@bitcon.com">support@bitcon.com</a></p>
                        </li>
                    </ul>
                </div><!-- end map-address-box -->
            </div><!-- end col-lg-4 -->
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- ================================
       END GOOGLE MAP
================================= -->

<!-- ================================
       START CONTACT AREA
================================= -->
<section class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="sec-heading">
                    <div class="heading-circle"></div>
                    <p class="sec__meta">get in touch</p>
                    <h2 class="sec__title">Feel Free to Write Us a Message.</h2>
                    <p class="sec__desc">
                        We will always be available to respond to your messgaes... 
                        <br>
                        You can also send us your testimonies so others can be motivated.
                    </p>
                    <ul class="sec__list">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div><!-- end sec-heading -->
            </div><!-- end col-lg-5 -->
            <div class="col-lg-7">
                <div class="contact-form-action">
                    <!--Contact Form-->
                    <form method="post">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 form-group">
                                <input class="form-control" type="text" name="name" placeholder="Your Name" required="">
                            </div><!-- end col-lg-12 -->

                            <div class="col-lg-6 col-sm-6 form-group">
                                <input class="form-control" type="email" name="email" placeholder="Email Address"
                                       required="">
                            </div><!-- end col-lg-12 -->

                            <div class="col-lg-6 col-sm-6 form-group">
                                <input class="form-control" type="text" name="phone" placeholder="Phone Number" required="">
                            </div><!-- end col-lg-12 -->

                            <div class="col-lg-6 col-sm-6 form-group">
                                <input class="form-control" type="text" name="subject" placeholder="Subject" required="">
                            </div><!-- end col-lg-12 -->

                            <div class="col-lg-12 col-sm-12 form-group">
                                <textarea class="message-control form-control" name="message" placeholder="Write Message Here"></textarea>
                            </div><!-- end col-lg-12 -->

                            <div class="col-lg-12 col-sm-12 col-xs-12 form-group">
                                <button class="theme-btn" type="submit">Send Message</button>
                            </div><!-- end col-lg-12 -->
                        </div><!-- end row -->
                    </form>
                </div><!-- end contact-form-action -->
            </div><!-- end col-lg-7 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end contact-area -->
<!-- ================================
       START CONTACT AREA
================================= -->

<!-- ================================
       START NEWSLETTER AREA
================================= -->
<section class="newsleller-area">
    <div class="container">
        <div class="subscriber-box">
            <div class="row">
                <div class="col-lg-7">
                    <div class="sec-heading">
                        <div class="heading-circle"></div>
                        <p class="sec__meta">Get in touch</p>
                        <h2 class="sec__title">Subscribe to Our Newsletter</h2>
                    </div><!-- end sec-heading -->
                </div><!-- end col-lg-7 -->
                <div class="col-lg-5">
                    <div class="subscriber-wrap">
                        <form action="#">
                            <div class="subscriber-form">
                                <input type="text" class="form-control" placeholder="Enter your email">
                                <i class="fa fa-envelope"></i>
                                <button class="theme-btn">subscribe</button>
                            </div>
                        </form>
                    </div><!-- end subscriber-wrap -->
                </div><!-- end col-lg-5 -->
            </div><!-- end row -->
        </div><!-- end subscriber-box -->
    </div><!-- end container -->
</section><!-- end app-area -->
<!-- ================================
       START NEWSLETTER AREA
================================= -->

<%- include('../includes/footer.ejs') %>

<!-- Template JS Files -->
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/owl.carousel.min.js"></script>
<script src="/public/js/waypoint.min.js"></script>
<script src="/public/js/jquery.counterup.min.js"></script>
<script src="/public/js/jquery.magnific-popup.min.js"></script>
<script src="/public/js/smooth-scrolling.js"></script>
<script src="/public/js/jquery-nice-select.js"></script>
<script src="/public/js/gmaps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYzby4yYDVaXPmtu4jZAGR258K6IYwjIY&libraries"></script>
<script src="/public/js/main.js"></script>
</body>
</html>