<%- include('../includes/header.ejs') %>

<!-- ================================
    START ERROR AREA
================================= -->
<section class="error-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="error-content">
                    <img src="images/404-img.png" alt="error image">
                    <h3 class="error-title">Oops! Page not found.</h3>
                    <p class="error-desc">
                        The page you are looking for might have been removed,
                        had its name changed, or is temporarily unavailable. <br>
                        You can check out our <a href="#">Help Center.</a>
                    </p>
                    <div class="or-box">
                        <span>or</span>
                    </div>
                    <a href="index.html" class="theme-btn">
                        <i class="fa fa-angle-left"></i> back to home
                    </a>
                </div><!-- end breadcrumb-content -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end error-area -->
<!-- ================================
    END ERROR AREA
================================= -->

<%- include('../includes/footer.ejs') %>

<!-- Template JS Files -->
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/owl.carousel.min.js"></script>
<script src="/public/js/waypoint.min.js"></script>
<script src="/public/js/jquery.counterup.min.js"></script>
<script src="/public/js/jquery.magnific-popup.min.js"></script>
<script src="/public/js/smooth-scrolling.js"></script>
<script src="/public/js/jquery-nice-select.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>