<%- include('../includes/header.ejs') %>

<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area">
    <div class="container">
    </div><!-- end container -->
</section><!-- end hero-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
       START FAQ AREA
================================= -->
<section class="faq-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="faq-body">
                    <div class="faq-panel">
                        <div class="faq-heading">
                            <h4 class="faq__title">What is bitcoin? <i class="fa fa-angle-right"></i></h4>
                        </div><!-- end accordion__title -->
                        <div class="faq-content">
                            <p class="faq__desc">
                                Investiga tiones demonstr averun lectores legere melius quod kequa
                                legunt saepius. Claritas est etiam pro cessus dynamicus qui sequitur
                                mutatin onem consuetudium. Investiga tiones demonstr averunt lectores
                                legere me liusked quod kequa legunt saepius.
                                Claritas est etiam pro cessus. Sequitur mutatin onem consuetudium.
                            </p>
                        </div><!-- end faq-content -->
                    </div><!-- end faq-panel -->
                    <div class="faq-panel">
                        <div class="faq-heading">
                            <h4 class="faq__title">What is binary options? <i class="fa fa-angle-right"></i></h4>
                        </div><!-- end accordion__title -->
                        <div class="faq-content">
                            <p class="faq__desc">
                                Binary Options are all about making the right choice. That includes predicting correctly in which direction the market will move. There is a number of strategies for Binary Options trading which can significantly increase your profit. A strategy you choose depends on your experience and knowledge
                            </p>
                            <p class="faq__desc">
                                A Binary option is an option that has two types of outcome: win or lose. When a user wins a trade in binary options with our Cryptoptions Trade, they will received a predetermined and fixed payout, given to them by their broker.
                            </p>
                            <p class="faq__desc">
                                For example, if the payout is 90% and the user bets $100 that the price of an asset to increase in a given time period, they will win $90 is the asset increases in price, or lose the initial $100 if the price goes in the oppostie direction.
                            </p>
                        </div><!-- end faq-content -->
                    </div><!-- end faq-panel -->
                    <div class="faq-panel">
                        <div class="faq-heading">
                            <h4 class="faq__title">How does Cryptoptions Invest work? <i class="fa fa-angle-right"></i></h4>
                        </div><!-- end accordion__title -->
                        <div class="faq-content">
                            <p class="faq__desc">
                                Transactions are made between users using the balance of the portfolios. Each transaction is recorded in a data store called blockchain. This registry is public and the network is totally decentralized.
                            </p>
                        </div><!-- end faq-content -->
                    </div><!-- end faq-panel -->
                    <div class="faq-panel">
                        <div class="faq-heading">
                            <h4 class="faq__title">In which currency do i deposit? <i class="fa fa-angle-right"></i></h4>
                        </div><!-- end accordion__title -->
                        <div class="faq-content">
                            <p class="faq__desc">
                                Basically, traders can choose between the three most popular currencies for depositing funds (Bitcoin , Bitcoin Cash, Etherum. When registering to Cryptoptions Invest you will be asked to choose your trading currency. Please note that once chosen, your trading currency cannot be changed.
                            </p>
                        </div><!-- end faq-content -->
                    </div><!-- end faq-panel -->
                    <div class="faq-panel">
                        <div class="faq-heading">
                            <h4 class="faq__title">How do i make a deposit? <i class="fa fa-angle-right"></i></h4>
                        </div><!-- end accordion__title -->
                        <div class="faq-content">
                            <p class="faq__desc">
                                In order to start trading you need to deposit your personal account with at least 300 USD/EUR. To do so click "Deposit" and choose one of the payment options available.
                            </p>
                        </div><!-- end faq-content -->
                    </div><!-- end faq-panel -->
                    <div class="faq-panel">
                        <div class="faq-heading">
                            <h4 class="faq__title">How much do i need to deposit? <i class="fa fa-angle-right"></i></h4>
                        </div><!-- end accordion__title -->
                        <div class="faq-content">
                            <p class="faq__desc">
                                Minimum deposit ranges from 300 USD , but we recommend 500 USD, as it will trigger the deposit bonus with most brokers. The bonus varies from broker to broker.
                            </p>
                        </div><!-- end faq-content -->
                    </div><!-- end faq-panel -->
                    <div class="faq-panel">
                        <div class="faq-heading">
                            <h4 class="faq__title">How do i begin investing? <i class="fa fa-angle-right"></i></h4>
                        </div><!-- end accordion__title -->
                        <div class="faq-content">
                            <p class="faq__desc">
                                It is necessary to register on the site www.cryptoptionsinvest.com., after that yor can start investing on your account to generate profit else you can request for an account manager if you do not have any investment experience.
                            </p>
                        </div><!-- end faq-content -->
                    </div><!-- end faq-panel -->
                    <div class="faq-panel">
                        <div class="faq-heading">
                            <h4 class="faq__title">How many personal accounts i can create in the system? <i class="fa fa-angle-right"></i></h4>
                        </div><!-- end accordion__title -->
                        <div class="faq-content">
                            <p class="faq__desc">
                                You can create only one Personal Account. Creating multiple accounts is not allowed. To get to know about it in detail visit the section "Conditions" of the site.
                            </p>
                        </div><!-- end faq-content -->
                    </div><!-- end faq-panel -->
                    <div class="faq-panel">
                        <div class="faq-heading">
                            <h4 class="faq__title">How my profit is calculated? <i class="fa fa-angle-right"></i></h4>
                        </div><!-- end accordion__title -->
                        <div class="faq-content">
                            <p class="faq__desc">
                                Your profit from a plan can be up to 80% of the investment amount. Profit depends on current situation of the market.
                            </p>
                        </div><!-- end faq-content -->
                    </div><!-- end faq-panel -->
                    <div class="faq-panel">
                        <div class="faq-heading">
                            <h4 class="faq__title">How do i withdraw my money? <i class="fa fa-angle-right"></i></h4>
                        </div><!-- end accordion__title -->
                        <div class="faq-content">
                            <p class="faq__desc">
                                Depositing and withdrawing funds will be handled by the broker.
                            </p>
                        </div><!-- end faq-content -->
                    </div><!-- end faq-panel -->
                    <div class="faq-panel">
                        <div class="faq-heading">
                            <h4 class="faq__title">Who is trading for me?<i class="fa fa-angle-right"></i></h4>
                        </div><!-- end accordion__title -->
                        <div class="faq-content">
                            <p class="faq__desc">
                                We have professional in-house traders who deliver the signals along with some computer algorithms that give signals based on various models.
                            </p>
                        </div><!-- end faq-content -->
                    </div><!-- end faq-panel -->
                   <div class="faq-btn-box text-center">
                       <a href="#" class="faq-btn">load more FAQs</a>
                   </div>
                </div><!-- end faq-body -->
            </div><!-- end col-lg-8-->
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget contact-form-action">
                        <h3 class="widget__title">
                            Still have questions?
                            <span class="footer-title-shape"></span>
                            <span class="footer-title-shape"></span>
                            <span class="footer-title-shape"></span>
                        </h3>
                        <form method="post">
                            <div class="form-group">
                                <input class="form-control" type="text" name="name-field" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" name="email-field" placeholder="Your Email">
                            </div>
                            <div class="form-group">
                                <textarea class="message-control form-control" name="message" placeholder="Write Question Here"></textarea>
                            </div><!-- end col-lg-12 -->
                            <button class="theme-btn" type="submit">Send question</button>
                        </form>
                    </div><!-- end sidebar-widget -->
                    
                    <div class="sidebar-widget social-widget">
                        <h3 class="widget__title">
                            connect with us.
                            <span class="footer-title-shape"></span>
                            <span class="footer-title-shape"></span>
                            <span class="footer-title-shape"></span>
                        </h3>
                        <ul class="social__links">
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div><!-- end sidebar-widget -->
                </div><!-- end sidebar -->
            </div><!-- end col-lg-4 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end faq-area -->
<!-- ================================
       START FAQ AREA
================================= -->

<%- include('../includes/footer.ejs') %>

<!-- Template JS Files -->
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/owl.carousel.min.js"></script>
<script src="/public/js/waypoint.min.js"></script>
<script src="/public/js/jquery.counterup.min.js"></script>
<script src="/public/js/jquery.magnific-popup.min.js"></script>
<script src="/public/js/smooth-scrolling.js"></script>
<script src="/public/js/jquery-nice-select.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>