<%- include('../includes/header.ejs') %>

<!-- ================================
    START HERO AREA
================================= -->
<section class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="hero-content">
                    <h1 class="hero__title">secure and easy way to trade with experts.</h1>
                    <p class="hero__desc">The easiest and convenient way to trade without having any experience.<br>
                        With our team of professional traders, your trading profit is guaranteed!.</p>
                    <div class="hero-btn">
                        <a href="./sign-up.html" class="theme-btn">get started now</a>
                        <a class="mfp-iframe video-play-btn" href="https://www.youtube.com/watch?v=ymmopjFucZM" title="Play Video">
                            Watch a Video <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div><!-- end hero-content -->
            </div><!-- end col-lg-7 -->
            <div class="col-lg-5">
                <div class="hero-img-box">
                    <img src="/public/images/v2.png" alt="vector image" class="hero__img">
                </div><!-- end hero-img-box -->
            </div><!-- end col-lg-5 -->
        </div><!-- end row -->
    </div><!-- end container -->
    <svg class="wave-svg-box" viewBox="0 0 120 28">
        <defs>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="1" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="
           1 0 0 0 0
           0 1 0 0 0
           0 0 1 0 0
           0 0 0 13 -9" result="goo" />
                <xfeBlend in="SourceGraphic" in2="goo" />
            </filter>
            <path id="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
        </defs>

        <use id="wave3" class="wave" xlink:href="#wave" x="0" y="-2" ></use>
        <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0" ></use>
        <g class="gooeff" filter="url(#goo)">
            <circle class="drop drop1" cx="20" cy="2" r="8.8"  />
            <circle class="drop drop2" cx="25" cy="2.5" r="7.5"  />
            <circle class="drop drop3" cx="16" cy="2.8" r="9.2"  />
            <circle class="drop drop4" cx="18" cy="2" r="8.8"  />
            <circle class="drop drop5" cx="22" cy="2.5" r="7.5"  />
            <circle class="drop drop6" cx="26" cy="2.8" r="9.2"  />
            <circle class="drop drop1" cx="5" cy="4.4" r="8.8"  />
            <circle class="drop drop2" cx="5" cy="4.1" r="7.5"  />
            <circle class="drop drop3" cx="8" cy="3.8" r="9.2"  />
            <circle class="drop drop4" cx="3" cy="4.4" r="8.8"  />
            <circle class="drop drop5" cx="7" cy="4.1" r="7.5"  />
            <circle class="drop drop6" cx="10" cy="4.3" r="9.2"  />

            <circle class="drop drop1" cx="1.2" cy="5.4" r="8.8"  />
            <circle class="drop drop2" cx="5.2" cy="5.1" r="7.5"  />
            <circle class="drop drop3" cx="10.2" cy="5.3" r="9.2"  />
            <circle class="drop drop4" cx="3.2" cy="5.4" r="8.8"  />
            <circle class="drop drop5" cx="14.2" cy="5.1" r="7.5"  />
            <circle class="drop drop6" cx="17.2" cy="4.8" r="9.2"  />
            <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" />
        </g>
    </svg>
</section><!-- end hero-area -->
<!-- ================================
    END HERO AREA
================================= -->

<!-- ================================
       START FEATURE AREA
================================= -->
<section class="feature-area">
    <div class="container">
        <div class="row feature-box">
            <div class="col-lg-4">
                <div class="feature-item">
                    <span class="feature__number">01</span>
                    <div class="feature__icon">
                        <i class="flaticon-001-bitcoin-20"></i>
                    </div>
                    <h3 class="feature__title">Create a Wallet</h3>
                    <p class="feature__desc">
                        Sign In Or Create a New Account. <br> That is the only way to have access to wallet.
                    </p>
                    <a href="./sign-up.html" class="theme-btn feature__btn">Get Started</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-item">
                    <span class="feature__number">02</span>
                    <div class="feature__icon">
                        <i class="flaticon-028-bitcoin-7"></i>
                    </div>
                    <h3 class="feature__title">Make payment into wallet</h3>
                    <p class="feature__desc">
                        Choose From The Investment Plan. <br> Deposit amount into wallet to get started immediately.
                    </p>
                    <a href="./sign-up.html" class="theme-btn feature__btn">Get Started</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-item">
                    <span class="feature__number">03</span>
                    <div class="feature__icon">
                        <i class="flaticon-012-bitcoin-15"></i>
                    </div>
                    <h3 class="feature__title">Invest and start earning</h3>
                    <p class="feature__desc">
                        Crypto Into Dollars and Spend Anywhere! Millions of people have made a fortune with bitcoins and other digital currencies!
                    </p>
                    <a href="./sign-up.html" class="theme-btn feature__btn">Get Started</a>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end feature-area -->
<!-- ================================
       START FEATURE AREA
================================= -->

<!-- ================================
       START ABOUT AREA
================================= -->
<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-item">
                    <div class="sec-heading">
                        <div class="heading-circle"></div>
                        <p class="sec__meta">learn about us</p>
                        <h2 class="sec__title">Digital Cryptocurrency Trading Platform.</h2>
                        <!-- <p class="sec__desc sec__desc2">
                            <span class="sec-year-time">30</span> Years of experience in digital cryptocurrency
                                                                  business Lorem ipsum dolor sit amet
                        </p> -->
                        <p class="sec__desc">
                            Bitcon is your No1 most trusted and secured Cryptocurrency Trading investment portfolio management system that guarantees you accurate and standard trading experience. We are currently leading the crypto trading world with our positive and unmatched results. 
                        </p>
                        <p class="sec__desc">
                            Our company has successfully earned huge number of positive reviews and feedback from clients across the world, and our popularity is increasing with every passing day. With Bitcon your success is guarantee! 
                        </p>
                    </div><!-- end sec-heading -->
                    <a href="./about.html" class="theme-btn readmore__btn">read more</a>
                </div><!-- end about-item -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-5 ml-auto">
                <div class="about-img-box">
                    <img src="/public/images/traders.png" alt="about-us" class="about-img">
                    <img src="/public/images/crypto-img.png" alt="about-us" class="about-img">
                    <a class="mfp-iframe video-play-btn" href="https://www.youtube.com/watch?v=ymmopjFucZM" title="Play Video">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <!-- <span class="heboo-text">BITCON</span> -->
                </div><!-- end about-img-box -->
            </div><!-- end col-lg-5 -->
        </div><!-- end row -->
        <div class="row funfact-wrapper">
            <div class="col-lg-3">
                <div class="funfact-item">
                    <div class="funfact-icon">
                        <i class="flaticon-032-bitcoin-3 funfact__icon"></i>
                    </div>
                    <span class="funfact__number counter">85389</span>
                    <p class="funfact__meta">Total Transactions</p>
                </div><!-- end funfact-item-->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3">
                <div class="funfact-item">
                    <div class="funfact-icon">
                        <i class="flaticon-001-bitcoin-20 funfact__icon"></i>
                    </div>
                    <span class="funfact__number counter">6540</span>
                    <p class="funfact__meta">bitcoin wallet</p>
                </div><!-- end funfact-item-->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3">
                <div class="funfact-item">
                    <div class="funfact-icon">
                        <i class="flaticon-034-consulting funfact__icon"></i>
                    </div>
                    <span class="funfact__number counter">7540</span>
                    <p class="funfact__meta">Happy Users</p>
                </div><!-- end funfact-item-->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3">
                <div class="funfact-item">
                    <div class="funfact-icon">
                        <i class="flaticon-006-bitcoin-18 funfact__icon"></i>
                    </div>
                    <span class="funfact__number counter">5721</span>
                    <p class="funfact__meta">Bitcoin Investors</p>
                </div><!-- end funfact-item-->
            </div><!-- end col-lg-3 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="divider">
                    <span class="divider__circle"></span>
                </div><!-- end divider -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="about-sub-box">
                    <p>
                        Do not hesitate to start with us for better help and services.
                        <a href="./sign-up.html" class="theme-btn">get started</a>
                    </p>
                </div><!-- end about-sub-box -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end about-area -->
<!-- ================================
       START ABOUT AREA
================================= -->

<!-- ================================
       START HOWITWORKS AREA
================================= -->
<section class="howitworks-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               <div class="sec-heading">
                   <div class="heading-circle m-x-auto"></div>
                   <p class="sec__meta">check our process</p>
                   <h2 class="sec__title">Provide Awesome Services, for this <br> People Choose Us.</h2>
               </div><!-- end sec-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row hiw-content">
            <div class="col-lg-4">
                <div class="hiw-item">
                   <div class="flaticon__icon">
                       <span class="flaticon-014-bitcoin-13"></span>
                   </div>
                    <h3 class="hiw__title"><a href="./service">safe and secure</a></h3>
                    <p class="hiw__desc">
                        We have put in place a standard and unbreakable security system for you.
                    </p>
                </div><!-- end hiw-item -->
            </div><!-- end col-lg-4 -->
            <!-- <div class="col-lg-4">
                <div class="hiw-item">
                    <div class="flaticon__icon">
                        <span class="flaticon-031-bitcoin-4"></span>
                    </div>
                    <h3 class="hiw__title"><a href="service.html">referral program</a></h3>
                    <p class="hiw__desc">
                        With our referral program, you earn 10% when you refer people to our platform. You can do this by sharing your referral link with friends and family. 
                    </p>
                </div>
            </div> -->
            <div class="col-lg-4">
                <div class="hiw-item">
                    <div class="flaticon__icon">
                        <span class="flaticon-001-bitcoin-20"></span>
                    </div>
                    <h3 class="hiw__title"><a href="./service">payment options</a></h3>
                    <p class="hiw__desc">
                        You won't have to worry about your withdrawal or deposit because everything about us is instant and be rest assured, you are secured. 
                    </p>
                </div><!-- end hiw-item -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4">
                <div class="hiw-item">
                    <div class="flaticon__icon">
                        <span class="flaticon-002-bitcoin-19"></span>
                    </div>
                    <h3 class="hiw__title"><a href="./service">stable and profitable</a></h3>
                    <p class="hiw__desc">
                        With any of your preferred investment plan, you make up to 10x of your deposit within 48hours to 7 Days depending on your investment plan.
                    </p>
                </div><!-- end hiw-item -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4">
                <div class="hiw-item">
                    <div class="flaticon__icon">
                        <span class="flaticon-004-saving"></span>
                    </div>
                    <h3 class="hiw__title"><a href="./service">multi currency support</a></h3>
                    <p class="hiw__desc">
                        Yes! You don't have to worry about your currency, we accept every currency.
                    </p>
                </div><!-- end hiw-item -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4">
                <div class="hiw-item">
                    <div class="flaticon__icon">
                        <span class="flaticon-029-bitcoin-6"></span>
                    </div>
                    <h3 class="hiw__title"><a href="./service">24/7 customer support</a></h3>
                    <p class="hiw__desc">
                        We are always here for you. Our customer support is second to none. You can also use the live chat to reach out to us more quickly. 
                    </p>
                </div><!-- end hiw-item -->
            </div><!-- end col-lg-4 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="button-shared-wrap">
                    <a href="./service" class="theme-btn">browse all services</a>
                </div><!-- end button-shared-wrap -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end howitworks-area -->
<!-- ================================
       START HOWITWORKS AREA
================================= -->

<!-- ================================
     START CALCULATOR AREA
================================= -->
<section class="calculator-area text-center">
    <span class="howitworks-shape"></span>
    <span class="howitworks-shape"></span>
    <span class="howitworks-shape"></span>
    <span class="howitworks-shape"></span>
    <span class="howitworks-shape"></span>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sec-heading">
                    <div class="heading-circle m-x-auto"></div>
                    <p class="sec__meta">with all cryptocurrency values</p>
                    <h2 class="sec__title">Calculate Live Cryptocurrency.</h2>
                </div><!-- end sec-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="crypto-calculator clearfix">
                    <div class="form-inline">
                        <div class="input-group-box">
                            <div class="select-option cyptocurrency">
                                <select>
                                    <option value="BTC">Bitcoin</option>
                                    <option value="LTC">Litecoin</option>
                                    <option value="XRP">Ripple</option>
                                    <option value="ETH">Ethereum</option>
                                    <!-- <option value="4">Veritaseum</option> -->
                                    <!-- <option value="5">Monero</option> -->
                                </select>
                            </div>
                            <input type="text" class="form-control" id="amtBTC" placeholder="1">
                        </div><!-- end input-group -->
                        <div class="input-group-box">
                            <input type="text" class="form-control decrement" id="amtUSD" value="<&=ember.btcPrice%>">
                            <div class="select-option crypto-price">
                                <select>
                                    <option value="USD">US Dollar</option>
                                    <option value="GBP">GB Pounds</option>
                                    <option value="EUR">EU Euros</option>
                                    <!-- <option value="2">Chinese Yuan</option> -->
                                    <!-- <option value="3">Czech Koruna</option> -->
                                    <!-- <option value="3">Omani Rial</option> -->
                                    <!-- <option value="3">Bangladeshi Taka</option> -->
                                </select>
                            </div>
                        </div><!-- end input-group -->
                        <div class="col-lg-12 mt-5">
                            <!-- <button class="" id="calcButton">Check</button> -->
                        </div><!-- end col-lg-12 -->
                    </div><!-- end form-inline -->
                </div><!-- end crypto-calculator -->
                <!-- <div style="width: 400px; height:335px; background-color: #FAFAFA; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; block-size:335px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F;margin: 0;width: 400px;padding:1px;padding: 0px; margin: 0px;"><div style="height:315px; padding:0px; margin:0px; width: 100%;"><iframe src="https://widget.coinlib.io/widget?type=converter&theme=light" width="400" height="310px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe></div><div style="color: #FFFFFF; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing: border-box; padding: 2px 6px; width: 100%; font-family: Verdana, Tahoma, Arial, sans-serif;"><a href="https://coinlib.io" target="_blank" style="font-weight: 500; color: #FFFFFF; text-decoration:none; font-size:11px">Cryptocurrency Prices</a>&nbsp;by Coinlib</div></div> -->
            </div><!-- end col-lg-8 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end calculator-area -->
<!-- ================================
     END CALCULATOR AREA
================================= -->


<!-- ================================
       START MARKETPRICE AREA
================================= -->
<section class="marketprice-area" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <div style="height:433px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F; padding: 0px; margin: 0px; width: 80%;"><div style="height:413px; padding:0px; margin:0px; width: 100%;"><iframe src="https://widget.coinlib.io/widget?type=full_v2&theme=light&cnt=6&pref_coin_id=1505&graph=yes" width="100%" height="409px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe></div><div style="color: #FFFFFF; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing: border-box; padding: 2px 6px; width: 100%; font-family: Verdana, Tahoma, Arial, sans-serif;"><a href="https://coinlib.io" target="_blank" style="font-weight: 500; color: #FFFFFF; text-decoration:none; font-size:11px"></div></div>
</section><!-- end marketprice-area -->
<!-- ================================
       END MARKETPRICE AREA
================================= -->

<!-- ================================
       START PACKAGE AREA
================================= -->
<section class="package-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="sec-heading">
                    <div class="heading-circle m-x-auto"></div>
                    <p class="sec__meta">affordable packages</p>
                    <h2 class="sec__title">Choose Investment Plan.</h2>
                </div><!-- end sec-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="package-tab-content">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                        <li role="presentation">
                            <a href="#tab4" role="tab" data-toggle="tab" class="active" aria-selected="true">regular</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab5" role="tab" data-toggle="tab" aria-selected="false">premium</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="tab4">
                            <div class="row">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="package-content">
                                        <h4 class="package__title">
                                            <span>maximum</span>
                                            return of $5,500 <span>for</span>
                                        </h4>
                                        <div class="price__box">
                                            <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                            <span class="price__price">500</span>
                                        </div>
                                        <h4 class="package__subtitle mb-5">
                                            $30 gift bonus
                                        </h4>
                                        <h4 class="package__subtitle m-2">
                                            investment duration:
                                        </h4>
                                        <h4 class="package__subtitle mb-4">
                                            7 days
                                        </h4>
                                        <a href="./sign-up.html" class="order__btn">invest now</a>
                                    </div><!-- end package-content -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="package-content">
                                        <h4 class="package__title">
                                            <span>maximum</span>
                                            return of $10,500 <span>for</span>
                                        </h4>
                                        <div class="price__box">
                                            <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                            <span class="price__price">1000</span>
                                        </div>
                                        <h4 class="package__subtitle mb-5">
                                            $30 gift bonus
                                        </h4>
                                        <h4 class="package__subtitle m-2">
                                            investment duration:
                                        </h4>
                                        <h4 class="package__subtitle mb-4">
                                            7 days
                                        </h4>
                                        <a href="./sign-up.html" class="order__btn">invest now</a>
                                    </div><!-- end package-content -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="package-content">
                                        <h4 class="package__title">
                                            <span>maximum</span>
                                            return of $30,000 <span>for</span>
                                        </h4>
                                        <div class="price__box">
                                            <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                            <span class="price__price">3000</span>
                                        </div>
                                        <h4 class="package__subtitle mb-5">
                                            $30 gift bonus
                                        </h4>
                                        <h4 class="package__subtitle m-2">
                                            investment duration:
                                        </h4>
                                        <h4 class="package__subtitle mb-4">
                                            7 days
                                        </h4>
                                        <a href="./sign-up.html" class="order__btn">invest now</a>
                                    </div><!-- end package-content -->
                                </div><!-- end col-lg-4 -->
                            </div>
                        </div><!-- end tab-pane -->

                        <div role="tabpanel" class="tab-pane fade" id="tab5">
                            <div class="row">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="package-content">
                                        <h4 class="package__title">
                                            <span>maximum</span>
                                            return of $50,000 <span>for</span>
                                        </h4>
                                        <div class="price__box">
                                            <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                            <span class="price__price">5000</span>
                                        </div>
                                        <h4 class="package__subtitle mb-5">
                                            $100 gift bonus
                                        </h4>
                                        <h4 class="package__subtitle m-2">
                                            investment duration:
                                        </h4>
                                        <h4 class="package__subtitle mb-4">
                                            7 days
                                        </h4>
                                        <a href="./sign-up.html" class="order__btn">invest now</a>
                                    </div><!-- end package-content -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="package-content">
                                        <h4 class="package__title">
                                            <span>maximum</span>
                                            return of $75,000 <span>for</span>
                                        </h4>
                                        <div class="price__box">
                                            <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                            <span class="price__price">7,500</span>
                                        </div>
                                        <h4 class="package__subtitle mb-5">
                                            $500 gift bonus
                                        </h4>
                                        <h4 class="package__subtitle m-2">
                                            investment duration:
                                        </h4>
                                        <h4 class="package__subtitle mb-4">
                                            7 days
                                        </h4>
                                        <a href="./sign-up.html" class="order__btn">invest now</a>
                                    </div><!-- end package-content -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="package-content">
                                        <h4 class="package__title">
                                            <span>maximum</span>
                                            return of $100,000 <span>for</span>
                                        </h4>
                                        <div class="price__box">
                                            <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                            <span class="price__price">10,000</span>
                                        </div>
                                        <h4 class="package__subtitle mb-5">
                                            $500 gift bonus
                                        </h4>
                                        <h4 class="package__subtitle m-2">
                                            investment duration:
                                        </h4>
                                        <h4 class="package__subtitle mb-4">
                                            7 days
                                        </h4>
                                        <a href="./sign-up.html" class="order__btn">invest now</a>
                                    </div><!-- end package-content -->
                                </div><!-- end col-lg-4 -->
                            </div>
                        </div><!-- end tab-pane -->
                    </div><!-- end tab-content -->
                </div><!-- end package-tab-content -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="divider">
                    <span class="divider__circle"></span>
                </div><!-- end divider -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end package-area -->
<!-- ================================
       START PACKAGE AREA
================================= -->

<!-- ================================
       START CLIENTLOGO AREA
================================= -->
<section class="clientlogo-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="client-logo">
                    <div class="client-logo-item">
                        <img src="/public/images/bitcoin-logo.svg" alt="brand image">
                    </div><!-- end client-logo-item -->
                    <div class="client-logo-item">
                        <img src="/public/images/ripple.svg" alt="brand image">
                    </div><!-- end client-logo-item -->
                    <div class="client-logo-item">
                        <img src="/public/images/coinone-1.svg" alt="brand image">
                    </div><!-- end client-logo-item -->
                    <div class="client-logo-item">
                        <img src="/public/images/coinbase.svg" alt="brand image">
                    </div><!-- end client-logo-item -->
                    <div class="client-logo-item">
                        <img src="/public/images/dash-2.svg" alt="brand image">
                    </div><!-- end client-logo-item -->
                </div><!-- end client-logo -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end clientlogo-area -->
<!-- ================================
       START CLIENTLOGO AREA
================================= -->

<!-- ================================
       START CTA AREA
================================= -->
<section class="cta-area">
    <div class="circle-icons">
        <div class="circle-one"></div>
        <div class="circle-two"></div>
        <div class="circle-three"></div>
    </div><!-- end box-icons -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="sec-heading">
                    <div class="heading-circle"></div>
                    <h2 class="sec__title">Are You Ready to Join With Us.</h2>
                    <p class="sec__desc">
                        Click on the Get Started button to start your financial breakthrough!
                    </p>
                </div><!-- end sec-heading -->
            </div><!-- end col-lg-8 -->
            <div class="col-lg-4">
                <div class="cta-btn-box">
                    <div class="circle-icons2">
                        <div class="circle-one"></div>
                        <div class="circle-two"></div>
                        <div class="circle-three"></div>
                    </div>
                    <a href="./sign-up.html" class="theme-btn">get started</a>
                </div><!-- end cta-btn-box -->
            </div><!-- end col-lg-4 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end cta-area -->
<!-- ================================
       START CTA AREA
================================= -->

<!-- ================================
       START MARKETPRICE AREA
================================= -->

<!-- ================================
       START TESTIMONIAL AREA
================================= -->
<section class="testimonial-area text-center">
    <img src="/public/images/testimonial-1.jpeg" alt="testtmonial-image" class="random-img">
    <img src="/public/images/testimonial-2.jpeg" alt="testtmonial-image" class="random-img">
    <img src="/public/images/testimonial-3.jpeg" alt="testtmonial-image" class="random-img">
    <img src="/public/images/testimonial-4.jpeg" alt="testtmonial-image" class="random-img">
    <img src="/public/images/testimonial-5.jpeg" alt="testtmonial-image" class="random-img">
    <img src="/public/images/testimonial-6.jpeg" alt="testtmonial-image" class="random-img">
    <img src="/public/images/small-team7.jpg" alt="testtmonial-image" class="random-img">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="sec-heading">
                    <div class="heading-circle m-x-auto"></div>
                    <p class="sec__meta">feedback our investors</p>
                    <h2 class="sec__title">What They Said.</h2>
                </div><!-- end sec-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="client-testimonial">
                    <div class="testimonial-item">
                        <div class="testi__img">
                            <span class="testi__img-cercle"></span>
                            <img src="/public/images/testimonial-1.jpeg" alt="testimonial image">
                        </div>
                        <p class="testi__desc">
                            Amazing platform, great support system. One of the most easiest way to earn online. Right from start to finish, I have no doubt about this platform, they are the best in what they do.                        </p>
                        <h4 class="tesi__title">Sandra Godfrey</h4>
                        <span class="testi__meta">United States</span>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi__img">
                            <span class="testi__img-cercle"></span>
                            <img src="/public/images/testimonial-2.jpeg" alt="testimonial image">
                        </div>
                        <p class="testi__desc">
                            Whata great team of traders they have. Trust me on this, Bitcons has no match in the crypto trading world. They are simply the best. I look forward to a more successful trading in the future and a partnership.
                        </p>
                        <h4 class="tesi__title">Adams Harrison</h4>
                        <span class="testi__meta">Australia</span>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi__img">
                            <span class="testi__img-cercle"></span>
                            <img src="/public/images/testimonial-3.jpeg" alt="testimonial image">
                        </div>
                        <p class="testi__desc">
                            I'm so happy to have partner with this wonderful platform right from the beginning. They are highly recommended
                        </p>
                        <h4 class="tesi__title">Luna Saltzman</h4>
                        <span class="testi__meta">United States</span>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi__img">
                            <span class="testi__img-cercle"></span>
                            <img src="/public/images/testimonial-4.jpeg" alt="testimonial image">
                        </div>
                        <p class="testi__desc">
                            I literally make money while sleeping using this great and reliable platform, Please share the good news, there's no doubt about them. Bitcons leads and others just do the follow.
                        </p>
                        <h4 class="tesi__title">Noah Meyer</h4>
                        <span class="testi__meta">Netherland</span>
                    </div><!-- end testimonial-item -->
                </div><!-- end client-testimonial -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end testimonial-area -->
<!-- ================================
       START TESTIMONIAL AREA
================================= -->

<!-- ================================
       START APP AREA
================================= -->
<section class="app-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="sec-heading">
                    <div class="heading-circle"></div>
                    <!-- <p class="sec__meta">Don't Miss Our App</p> -->
                    <p class="sec__meta">COMMING SOON!!!</p>
                    <h2 class="sec__title">Mobile Application for Faster Access.</h2>
                    <p class="sec__desc">
                        There are many variations of passages of Lorem Ipsum available, but the majority
                        have suffered alteration in some form,
                        by injected humour, or randomised words
                        which don't look even slightly believable.
                    </p>
                    <p class="sec__desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor hic illum
                        nam rerum similique sit suscipit temporibus?
                    </p>
                    <div class="download-btn">
                        <h3 class="download__text">Download App From</h3>
                        <a href="#" class="theme-btn apple-store">
                            <i class="fab fa-apple"></i> apple store
                        </a>
                        <a href="#" class="theme-btn">
                            <i class="fab fa-google-play"></i> google play
                        </a>
                    </div>
                </div><!-- end sec-heading -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-5 ml-auto">
                <div class="mobile-overview">
                    <img src="/public/images/mobile-app.png" alt="mobile">
                </div><!-- end mobile-overview -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end app-area -->
<!-- ================================
       START APP AREA
================================= -->

<!-- ================================
       START NEWSLETTER AREA
================================= -->
<section class="newsleller-area">
    <div class="container">
        <div class="subscriber-box">
            <div class="row">
                <div class="col-lg-7">
                    <div class="sec-heading">
                        <div class="heading-circle"></div>
                        <p class="sec__meta">Get in touch</p>
                        <h2 class="sec__title">Subscribe to Our Newsletter</h2>
                    </div><!-- end sec-heading -->
                </div><!-- end col-lg-7 -->
                <div class="col-lg-5">
                    <div class="subscriber-wrap">
                        <form action="#">
                            <div class="subscriber-form">
                                <input type="text" class="form-control" placeholder="Enter your email">
                                <i class="fa fa-envelope"></i>
                                <button class="theme-btn">subscribe</button>
                            </div>
                        </form>
                    </div><!-- end subscriber-wrap -->
                </div><!-- end col-lg-5 -->
            </div><!-- end row -->
        </div><!-- end subscriber-box -->
    </div><!-- end container -->
</section><!-- end app-area -->
<!-- ================================
       START NEWSLETTER AREA
================================= -->

<%- include('../includes/footer.ejs') %>


<!-- JS Files -->
<!-- <script>
    document.getElementById('calcButton').addEventListener('Click', loadPrice);

    function loadPrice () {
        let xhr = new XMLHttpRequest();
        
        xhr.open('GET', 'https://coinlib.io/api/v1/coin?key=9b79bb5181f4b204', true)
        
        xhr.onload = () => {
            if (this.status == 200) {
                let data = JSON.parse(this.responseText);
        
                console.log('this part is connected');

            }
        }

        xhr.send();
    }

</script> -->
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/owl.carousel.min.js"></script>
<!-- <script src="/public/js/chart.js"></script> -->
<!-- <script src="/public/js/result-chart.js"></script> -->
<!-- <script src="/public/js/doughutchart.js"></script> -->
<script src="/public/js/waypoint.min.js"></script>
<script src="/public/js/jquery.counterup.min.js"></script>
<script src="/public/js/jquery.magnific-popup.min.js"></script>
<script src="/public/js/smooth-scrolling.js"></script>
<!-- <script src="/controller/mainsite.js"></script> -->
<!-- <script src="/public/js/calculate-script.js"></script> -->
<!-- <script src="/public/js/index-chart.js"></script> -->
<script src="/public/js/jquery-nice-select.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>