<%- include('../includes/header.ejs') %>

<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area">
    <div class="container">
    </div><!-- end container -->
</section><!-- end hero-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
       START PACKAGE AREA
================================= -->
<section class="package-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="sec-heading">
                    <div class="heading-circle m-x-auto"></div>
                    <p class="sec__meta">affordable packages</p>
                    <h2 class="sec__title">Choose Investment Plan.</h2>
                </div><!-- end sec-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="package-tab-content">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                        <li role="presentation">
                            <a href="#tab4" role="tab" data-toggle="tab" class="active" aria-selected="true">regular</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab5" role="tab" data-toggle="tab" aria-selected="false">premium</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="tab4">
                            <div class="row">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="package-content">
                                        <h4 class="package__title">
                                            <span>maximum</span>
                                            return of $5,500 <span>for</span>
                                        </h4>
                                        <div class="price__box">
                                            <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                            <span class="price__price">500</span>
                                        </div>
                                        <h4 class="package__subtitle mb-5">
                                            $30 gift bonus
                                        </h4>
                                        <h4 class="package__subtitle m-2">
                                            investment duration:
                                        </h4>
                                        <h4 class="package__subtitle mb-4">
                                            7 days
                                        </h4>
                                        <a href="./register.html" class="order__btn">invest now</a>
                                    </div><!-- end package-content -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="package-content">
                                        <h4 class="package__title">
                                            <span>maximum</span>
                                            return of $10,500 <span>for</span>
                                        </h4>
                                        <div class="price__box">
                                            <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                            <span class="price__price">1,000</span>
                                        </div>
                                        <h4 class="package__subtitle mb-5">
                                            $30 gift bonus
                                        </h4>
                                        <h4 class="package__subtitle m-2">
                                            investment duration:
                                        </h4>
                                        <h4 class="package__subtitle mb-4">
                                            7 days
                                        </h4>
                                        <a href="./register.html" class="order__btn">invest now</a>
                                    </div><!-- end package-content -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="package-content">
                                        <h4 class="package__title">
                                            <span>maximum</span>
                                            return of $30,000 <span>for</span>
                                        </h4>
                                        <div class="price__box">
                                            <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                            <span class="price__price">3,000</span>
                                        </div>
                                        <h4 class="package__subtitle mb-5">
                                            $30 gift bonus
                                        </h4>
                                        <h4 class="package__subtitle m-2">
                                            investment duration:
                                        </h4>
                                        <h4 class="package__subtitle mb-4">
                                            7 days
                                        </h4>
                                        <a href="./register.html" class="order__btn">invest now</a>
                                    </div><!-- end package-content -->
                                </div><!-- end col-lg-4 -->
                            </div>
                        </div><!-- end tab-pane -->

                        <div role="tabpanel" class="tab-pane fade" id="tab5">
                            <div class="row">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="package-content">
                                        <h4 class="package__title">
                                            <span>maximum</span>
                                            return of $50,000 <span>for</span>
                                        </h4>
                                        <div class="price__box">
                                            <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                            <span class="price__price">5,000</span>
                                        </div>
                                        <h4 class="package__subtitle mb-5">
                                            $100 gift bonus
                                        </h4>
                                        <h4 class="package__subtitle m-2">
                                            investment duration:
                                        </h4>
                                        <h4 class="package__subtitle mb-4">
                                            7 days
                                        </h4>
                                        <a href="./register.html" class="order__btn">invest now</a>
                                    </div><!-- end package-content -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="package-content">
                                        <h4 class="package__title">
                                            <span>maximum</span>
                                            return of $75,000 <span>for</span>
                                        </h4>
                                        <div class="price__box">
                                            <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                            <span class="price__price">7,500</span>
                                        </div>
                                        <h4 class="package__subtitle mb-5">
                                            $500 gift bonus
                                        </h4>
                                        <h4 class="package__subtitle m-2">
                                            investment duration:
                                        </h4>
                                        <h4 class="package__subtitle mb-4">
                                            7 days
                                        </h4>
                                        <a href="./register.html" class="order__btn">invest now</a>
                                    </div><!-- end package-content -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="package-content">
                                        <h4 class="package__title">
                                            <span>maximum</span>
                                            return of $100,000 <span>for</span>
                                        </h4>
                                        <div class="price__box">
                                            <span class="currency"><i class="fa fa-dollar-sign"></i></span>
                                            <span class="price__price">10,000</span>
                                        </div>
                                        <h4 class="package__subtitle mb-5">
                                            $500 gift bonus
                                        </h4>
                                        <h4 class="package__subtitle m-2">
                                            investment duration:
                                        </h4>
                                        <h4 class="package__subtitle mb-4">
                                            7 days
                                        </h4>
                                        <a href="./register.html" class="order__btn">invest now</a>
                                    </div><!-- end package-content -->
                                </div><!-- end col-lg-4 -->
                            </div>
                        </div><!-- end tab-pane -->
                    </div><!-- end tab-content -->
                </div><!-- end package-tab-content -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="divider">
                    <span class="divider__circle"></span>
                </div><!-- end divider -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end package-area -->
<!-- ================================
       START PACKAGE AREA
================================= -->

<!-- ================================
       START NEWSLETTER AREA
================================= -->
<section class="newsleller-area">
    <div class="container">
        <div class="subscriber-box">
            <div class="row">
                <div class="col-lg-7">
                    <div class="sec-heading">
                        <div class="heading-circle"></div>
                        <p class="sec__meta">Get in touch</p>
                        <h2 class="sec__title">Subscribe to Our Newsletter</h2>
                    </div><!-- end sec-heading -->
                </div><!-- end col-lg-7 -->
                <div class="col-lg-5">
                    <div class="subscriber-wrap">
                        <form action="#">
                            <div class="subscriber-form">
                                <input type="text" class="form-control" placeholder="Enter your email">
                                <i class="fa fa-envelope"></i>
                                <button class="theme-btn">subscribe</button>
                            </div>
                        </form>
                    </div><!-- end subscriber-wrap -->
                </div><!-- end col-lg-5 -->
            </div><!-- end row -->
        </div><!-- end subscriber-box -->
    </div><!-- end container -->
</section><!-- end app-area -->
<!-- ================================
       START NEWSLETTER AREA
================================= -->

<%- include('../includes/footer.ejs') %>

<!-- Template JS Files -->
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/owl.carousel.min.js"></script>
<script src="/public/js/waypoint.min.js"></script>
<script src="/public/js/jquery.counterup.min.js"></script>
<script src="/public/js/jquery.magnific-popup.min.js"></script>
<script src="/public/js/smooth-scrolling.js"></script>
<script src="/public/js/jquery-nice-select.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>